<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout}">
<head>
    <title>Nuovo contatto</title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/contacts/new}" th:object="${contactForm}"
          method="post" class="narrow">
        <h2>Nuovo contatto</h2>
        <div th:replace="form-controls :: text-input (fieldName='firstName', fieldLabel='Nome')"></div>
        <div th:replace="form-controls :: text-input (fieldName='lastName', fieldLabel='Cognome')"></div>
        <div th:replace="form-controls :: text-input (fieldName='phone', fieldLabel='Telefono')"></div>
        <div th:replace="form-controls :: text-input (fieldName='email', fieldLabel='Email')"></div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Salva"/>
        </div>
        <div class="my-4">
            <a th:href="@{/contacts}">Torna alla lista contatti</a>
        </div>
    </form>
</section>
</body>
</html>