<!DOCTYPE html>
<html layout:decorate="~{main-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista contatti</title>
</head>
<body>
<section layout:fragment="content">
    <div class="narrow">
        <h2>Lista contatti</h2>
        <div class="my-4">
            <a class="btn btn-primary" th:href="@{/contacts/new}">Crea nuovo contatto</a>
        </div>
        <div class="list-group list-group-flush" th:unless="${#lists.isEmpty(contacts)}">
            <div class="list-group-item" th:each="c : ${contacts}">
                <a th:href="@{/contacts(id=${c.id})}"
                   th:text="${c.firstName + ' ' + c.lastName}"></a>
            </div>
        </div>
        <div class="text-muted"
             th:if="${#lists.isEmpty(contacts)}">Nessun contatto presente in rubrica.
        </div>
    </div>
</section>
</body>
</html>