<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Nuovo contatto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
<form th:action="@{/contacts/new}" th:object="${contactForm}"
      method="post">
    <h2>Nuovo contatto</h2>
    <div class="form-group">
        <label>Nome</label>
        <input th:field="*{firstName}" type="text" class="form-control"/>
        <div th:if="${#fields.hasErrors('firstName')}">
            <span th:errors="*{firstName}" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Cognome</label>
        <input th:field="*{lastName}" type="text" class="form-control"/>
        <div th:if="${#fields.hasErrors('lastName')}">
            <span th:errors="*{lastName}" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Telefono</label>
        <input th:field="*{phone}" type="text" class="form-control"/>
        <div th:if="${#fields.hasErrors('phone')}">
            <span th:errors="*{phone}" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input th:field="*{email}" type="text" class="form-control"/>
        <div th:if="${#fields.hasErrors('email')}">
            <span th:errors="*{email}" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Salva"/>
    </div>
</form>
</body>
</html>