<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout}">
<head>
    <title th:text="${'Contatto - ' + contact.firstName + ' ' + contact.lastName}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="narrow">
        <div th:if="${newContact != null}" class="alert alert-success" role="alert">
            Contatto creato correttamente
        </div>
        <h2 th:text="${contact.firstName + ' ' + contact.lastName}"></h2>
        <div>
            <strong>Telefono: </strong> <span th:text="${contact.phone}"></span>
        </div>
        <div>
            <strong>Email: </strong> <span th:text="${contact.email}"></span>
        </div>
        <div class="my-4">
            <a th:href="@{/contacts}">Torna alla lista contatti</a>
        </div>
    </div>
</section>
</body>
</html>