<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
        SuperRubricaTelefonica!
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div>
    <header class="page-header clearfix">
        <h1><a th:href="@{/}">SuperRubricaTelefonica!</a></h1>
        <div class="menu-box mx-4">
            <a class="btn btn-link" sec:authorize-url="/stats" th:href="@{/stats}">Statistiche utenti</a>
        </div>

        <div class="user-session-box" sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <input class="btn btn-outline-secondary" type="submit" value="Esci"/>
            </form>
            <span class="btn" sec:authentication="name"></span>
        </div>
    </header>
    <section layout:fragment="content" class="mt-4">
    </section>
</div>
</body>
</html>