body {
	padding: 20px;
}

.narrow {
	max-width: 300px;
}

.page-header > h1 {
    float: left;
}

.user-session-box {
    float: right;
    margin-top: 10px;
}

.user-session-box > * {
    float: right;
}

.menu-box {
    float: left;
    margin-top: 10px;
}